<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @status.user.full_name %>
</p>
<h2>Title Slide</h2>
<p>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>

<p>
	<%= render @status.slides %>
</p>

<h5>Add a slide:</h5>
<%= render "slides/form" %>


